<!-- esse arquivo não está sendo usado - comentado o render em application.html.erb 13/01/2014 -->
<div id="error_explanation">
  <ul>
  <%# @er.each do |msg| %>
    <li>* <%#= msg %> </li>
    <% end %>

    
</div>

